body {
    background-color: wheat;
}
.menu_nav {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    background-color: teal;
}
.menu_section_home {
    display: flex;
}
.menu_section_zero {
    display: flex;
}
/* #check_menu:checked ~ .menu_nav {
    background-color: tomato;
    flex-direction: column;
    max-height: 100%;
    transform: scaleY(1);
    overflow: hidden;
    position: absolute;
} */
#check_menu:checked ~ .menu_nav .menu_section_home {
    background-color: tomato;
    flex-direction: column;
    max-height: 100%;
    transform: scaleY(1);
    overflow: hidden;
    position: absolute;
}



.menu_nav p {
    margin: 0;
    padding: 0;
}
.menu_nav a {
    display: block;
    font-size: 1rem;
    font-weight: normal;
    line-height: 1.4rem;
    color: #ffffff;
    padding: 0.3rem 0.5rem;
    text-align: left;
    box-sizing: border-box;
}
.menu_nav a:hover {
    background-color: rgba(255, 255, 255, 0.466);
    color: rgb(0, 6, 32);
    transition: all 0.4s;
}
.input_check {
    display: none;
}
.mobile_nav {
    display: none;
}
.mobile_nav label {
    margin-left: auto;
    margin-right: 2vw;
    display: none;
}
.menu_icon {
    height: 40px;
}

.menu_section_home a:hover {
    transform-origin: 50% 100%;
    transform: scale(1.2);
}

.menu_section_zero {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: inherit;
}
.menu_section_one {
    opacity: 0.9;
}
.menu_section_one p {
    font-size: 1.4rem;
    font-weight: 600;
    line-height: 1.6rem;
    color: #ffffff;
}
.menu_section_two {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 600px;
    justify-content: space-between;
}

@media (min-width: 420px) and (max-width: 731px) {
    .menu_section_home, .menu_section_one, .menu_section_two {
    max-height: 0;
    transform: scaleY(0);
    }
    .mobile_nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    }
    .mobile_nav label {
    display: unset;
    }
}
@media (max-width: 419px) {
    .menu_section_home, .menu_section_one, .menu_section_two {
    max-height: 0;
    transform: scaleY(0);
    }
    .mobile_nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    }
    .mobile_nav label {
    display: unset;
    }
}